<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Admin Panel</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!---->
        <link rel="icon" href="data:,">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.7.5/semantic.min.css" integrity="sha256-S4n5rcKkPwT9YZGXPue8OorJ7GCPxBA5o/Z0ALWXyHs=" crossorigin="anonymous" />
        <link rel="stylesheet" href="style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.7.5/semantic.min.js" integrity="sha256-x9fzgXT3ttK2cZF12FIafkDJzEqqLnaWcchT+Y/plJ4=" crossorigin="anonymous"></script>
        <!---->
        <style>
            body > div { margin: 1em; }
            table.table input[type=text] { display: block; width: 100%; padding: .4em .8em; border: 1px solid rgba(0, 0, 0, .3); border-radius: .2em; }
            table.table input[type=text].snowflake { min-width: 13em }
            table.table input[type=text].name { min-width: 15em }
            table.table input[type=text].hash { min-width: 20em; }
            table.table button { white-space: nowrap; }
            .ui.menu { margin: 0; }
        </style>
    </head>
    <body class="page-admin">
        <div class="ui main menu">
            <div class="header item">Welcome, {{user.Name}}@{{user.Provider}}</div>
            <div class="item"><a href="./files/">Back to Files</a></div>
            <div class="right item">Powered by&nbsp;<a href="https://github.com/nektro/andesite" target="_blank">Andesite</a>&nbsp;<code>{{version}}</code></div>
        </div>
        <div class="ui main menu">
            <div class="item"><a href="./admin">Access</a></div>
            <div class="item"><a href="./admin/users">Users</a></div>
            <div class="item"><a href="./admin/roots">Roots</a></div>
        </div>
        <div>
            <h1 class="ui header">Andesite Admin Panel</h1>
            <details open id="tab_users">
                <summary>User Access</summary>
                <table class="ui compact table">
                    <thead>
                        <th class="collapsing">User</th>
                        <th class="collapsing">Name</th>
                        <th>Path</th>
                        <th class="collapsing"></th>
                        <th class="collapsing"></th>
                    </thead>
                    <tbody>
                        {{#each accesses as |ac|}}
                        <tr>
                            <form method="POST">
                                <input type="hidden" name="id" value="{{ac.ID}}">
                                <td><select name="user">{{#each users as |us|}}<option value="{{ID}}"{{#equal us.ID ac.User}} selected{{/equal}}>{{user_name us.ID}}</option>{{/each}}</select></td>
                                <td><input type="text" name="name" class="name" placeholder="{User Name}" value="{{user_name ac.User}}" readonly></td>
                                <td><input type="text" name="path" placeholder="Path" value="{{ac.Path}}"></td>
                                <td><button class="ui button" formaction="./api/access/update">Update</button></td>
                                <td><button class="ui button" formaction="./api/access/delete">Delete</button></td>
                            </form>
                        </tr>
                        {{/each}}
                        <tr>
                            <form method="POST">
                                <td><select name="user">{{#each users}}<option value="{{ID}}">{{user_name ID}}</option>{{/each}}</select></td>
                                <td colspan="2"><input type="text" name="path" placeholder="Path"></td>
                                <td colspan="2"><button class="ui button" formaction="./api/access/create">Add Access</button></td>
                            </form>
                        </tr>
                    </tbody>
                </table>
            </details>
            <details open id="tab_shares">
                <summary>Share Links</summary>
                <table class="ui compact table">
                    <thead>
                        <th class="collapsing">Hash</th>
                        <th>Path</th>
                        <th class="collapsing"></th>
                        <th class="collapsing"></th>
                        <th class="collapsing"></th>
                    </thead>
                    <tbody>
                        {{#each shares}}
                        <tr>
                            <form method="POST">
                                <input type="hidden" name="id" value="{{id}}">
                                <td><input type="text" name="hash" class="hash" value="{{hash}}" readonly></td>
                                <td><input type="text" name="path" placeholder="Path" value="{{path}}"></td>
                                <td><button class="ui button" formaction="./api/share/update">Update</button></td>
                                <td><button class="ui button" formaction="./api/share/delete">Delete</button></td>
                                <td><a href="./open/{{hash}}/">Open</a></td>
                            </form>
                        </tr>
                        {{/each}}
                        <tr>
                            <form method="POST">
                                <td colspan="2"><input type="text" name="path" placeholder="Path"></td>
                                <td colspan="2"><button class="ui button" formaction="./api/share/create">Create Link</button></td>
                            </form>
                        </tr>
                    </tbody>
                </table>
            </details>
            {{#equal auth "discord"}}
            {{#if discord_role_share_on}}
            <details open id="tab_discord_access">
                <summary>Discord Guild Role Access</summary>
                <table class="ui compact table">
                    <thead>
                        {{!-- <th class="collapsing">Guild ID</th> --}}
                        {{!-- <th class="collapsing">Guild Name</th> --}}
                        <th class="collapsing">Role ID</th>
                        <th class="collapsing">Role Name</th>
                        <th>Path</th>
                        <th class="collapsing"></th>
                    </thead>
                    <tbody>
                        {{#each discord_shares}}
                        <tr>
                            <form method="POST">
                                <input type="hidden" name="ID" value="{{ID}}">
                                {{!-- <td><input type="text" name="GuildID" class="snowflake" value="{{GuildID}}"></td> --}}
                                {{!-- <td><input type="text" name="GuildName" class="name" value="{{GuildName}}" readonly></td> --}}
                                <td><input type="text" name="RoleID" class="snowflake" value="{{RoleID}}"></td>
                                <td><input type="text" name="RoleName" class="name" value="{{RoleName}}" readonly></td>
                                <td><input type="text" name="Path" placeholder="Path" value="{{Path}}"></td>
                                <td><button class="ui button" formaction="./api/access_discord_role/update">Update</button></td>
                                <td><button class="ui button" formaction="./api/access_discord_role/delete">Delete</button></td>
                            </form>
                        </tr>
                        {{/each}}
                        <tr>
                            <form method="POST">
                                {{!-- <td><input type="text" name="GuildID" class="snowflake" placeholder="Guild ID"></td> --}}
                                {{!-- <td></td> --}}
                                <td><input type="text" name="RoleID" class="snowflake" placeholder="Role ID"></td>
                                <td></td>
                                <td><input type="text" name="Path" placeholder="Path"></td >
                                <td><button class="ui button" formaction="./api/access_discord_role/create">Add Access</button></td>
                            </form>
                        </tr>
                    </tbody>
                </table>
            </details>
            {{/if}}
            {{/equal}}
        </div>
    </body>
</html>
