<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Andesite Admin Panel</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="{{base}}assets/theme-default/css/style.min.css">
        <script type="module" src="{{base}}assets/theme-default/js/x-switch.js"></script>
    </head>
    <body data-page="/admin">
        <h1>Andesite Admin Panel</h1>
        <p>Welcome, {{name}} ({{user}})</p>
        <div class="flex row">
            <div class="flex row">
                <a class="btn" href="{{base}}files/">Back to Files</a>
            </div>
            <div class="grow"></div>
            <div class="flex row">
                <div class="toggle">
                    <span class="fa fa-fw fa-sun-o"></span>
                    <x-switch data-mode="dark"></x-switch>
                    <span class="fa fa-fw fa-moon-o"></span>
                </div>
            </div>
        </div>
        <hr>
        <div id="tab_users">
            <ul class="datalist">
            {{#each accesses}}
                <li>
                    <form method="POST">
                        <input type="hidden" name="id" value="{{id}}">
                        <input type="text" name="snowflake" placeholder="User Snowflake" value="{{snowflake}}">
                        <input type="text" name="name" placeholder="{User Name}" value="{{name}}" readonly>
                        <input type="text" name="path" placeholder="Path" value="{{path}}">
                        <button class="btn" formaction="{{base}}api/access/update">Update</button>
                        <button class="btn" formaction="{{base}}api/access/delete">Delete</button>
                    </form>
                </li>
            {{/each}}
                <hr>
                <li>
                    <form method="POST">
                        <input type="text" name="snowflake" placeholder="User Snowflake">
                        <input type="text" name="path" placeholder="Path">
                        <button class="btn" formaction="{{base}}api/access/create">Add User Access</button>
                    </form>
                </li>
            </ul>
        </div>
    </body>
</html>
