<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Index of {{path}}</title>
        <!---->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.7.5/semantic.min.css" integrity="sha256-S4n5rcKkPwT9YZGXPue8OorJ7GCPxBA5o/Z0ALWXyHs=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/file-icon-vectors@1.0.0/dist/file-icon-square-o.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro">
        <link rel="stylesheet" href="{{base}}style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.7.5/semantic.min.js" integrity="sha256-x9fzgXT3ttK2cZF12FIafkDJzEqqLnaWcchT+Y/plJ4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.1.0/tablesort.min.js" integrity="sha256-p3wukcf2d2jxbVnlqPDO9t4AAjnl42D2aIzrK4S0X6w=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.1.0/sorts/tablesort.number.min.js" integrity="sha256-ra1pWQ7MfuVIolZ/phcEXegs9m1ehXaCNI8cmc3gJEs=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.1.0/sorts/tablesort.filesize.min.js" integrity="sha256-qNYlSpvv2lsmkcarYkQBkUzVcHKaml/BHcGxcSNsyrU=" crossorigin="anonymous"></script>
        <!---->
        <style>
            body { overflow-x: visible; }
            body > div { margin: 1em; }
            table.table { font-family: 'Source Code Pro', 'Courier New', monospace; }
            table.table tr td { white-space: nowrap; padding: .2em .7em !important; }
            table.table tr td:nth-child(5) { text-align: right; }
            #dlbox { background-color: #dedede; border-radius: .25em; padding: 1em; }
            p code { background-color: #ccc; border-radius: .2em; padding: .25em; }
        </style>
        <script>
            (function() {
                $(document).ready(function() {
                    $("table th").click(function(e) {
                        localStorage.setItem("table_sort", Array.from(e.target.parentElement.children).indexOf(e.target).toString());
                    });
                    const ts = localStorage.getItem("table_sort");
                    if (ts !== null && ts.length > 0) {
                        document.querySelectorAll("table th")[parseInt(ts)].setAttribute("data-sort-default", "");
                    }
                    new Tablesort(document.querySelector("table"), {
                        descending: false,
                    });
                })
            })();
        </script>
    </head>
    <body class="page-listing">
        <div class="ui main menu">
            <div class="header item">Welcome, {{user.Name}}@{{user.Provider}}</div>
            {{#if can_search}}
            <div class="item"><a href="{{base}}search"><i class="search icon"></i> Search</a></div>
            {{/if}}
            {{#if admin}}
            <div class="item"><a href="{{base}}admin">Admin Panel</a></div>
            {{/if}}
            {{#if user.PassKey}}
            <div class="item"><a href="{{base}}logout">Logout</a></div>
            {{/if}}
            <div class="right item">Powered by&nbsp;<a href="https://github.com/nektro/andesite" target="_blank">Andesite</a>&nbsp;<code>{{version}}</code></div>
        </div>
        <div>
            <h1 class="ui header">Index of {{path}}</h1>
            <div class="ui divider"></div>
            <table class="ui sortable compact table">
                <thead>
                    <th class="collapsing" data-sort-method="number"></th>
                    <th class="collapsing"></th>
                    <th class="collapsing">Name</th>
                    <th class="collapsing" data-sort-method="number">Last Modified</th>
                    <th class="collapsing" data-sort-method="filesize">Size</th>
                    <th data-sort-method="none"></th>
                </thead>
                <tbody>
                    <tr data-sort-method="none"><td></td><td></td><td><a href="../">Parent Directory</a></td><td></td><td></td><td></td></tr>
                    {{#each files}}
                    <tr><td>{{add_i @index 1}}</td><td data-sort="{{is_file}}_{{name}}"><span class="fiv-sqo fiv-icon-{{ext}}"></span></td><td><a href="{{url_name name}}">{{name}}</a></td><td data-sort="{{mod_raw}}">{{mod}}</td><td>{{size}}</td><td></td></tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div id="dlbox">
            {{#if user.PassKey}}<p>Download the contents of the entire folder using your passkey: <code>{{user.PassKey}}</code> (<a href="{{base}}regen_passkey">Regenerate Key</a>)</p>{{/if}}
            <p><code>wget -m -np -c -R "index.html*"{{#if user.PassKey}} --user-agent "AndesiteUser/{{user.PassKey}}"{{/if}} "{{host}}{{path}}"</code></p>
            <p><code>rclone copy --http-url="{{host}}{{path}}" :http: ./ -P{{#if user.PassKey}} --user-agent "AndesiteUser/{{user.PassKey}}"{{/if}}</code></p>
        </div>
    </body>
</html>
