<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Index of {{path}}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/file-icon-vectors@1.0.0/dist/file-icon-square-o.min.css">
        <link rel="stylesheet" href="{{base}}assets/theme-default/css/style.min.css">
        <script type="module" src="{{base}}assets/theme-default/js/x-switch.js"></script>
    </head>
    <body>
        <h1>Index of {{path}}</h1>
        <p>Welcome, {{name}} ({{user}})</p>
        <div class="flex row">
            <div class="flex row">
                <a class="btn" href="{{base}}files/">Root Directory</a>
                <a class="btn" href="../">Parent Directory</a>
                {{#if admin}}
                <a class="btn" href="{{base}}admin">Admin Panel</a>
                {{/if}}
            </div>
            <div class="grow"></div>
            <div class="flex row">
                <div class="toggle">
                    <span class="fa fa-fw fa-th-list"></span>
                    <x-switch data-mode="grid"></x-switch>
                    <span class="fa fa-fw fa-th"></span>
                </div>
                <div class="toggle">
                    <span class="fa fa-fw fa-sun-o"></span>
                    <x-switch data-mode="dark"></x-switch>
                    <span class="fa fa-fw fa-moon-o"></span>
                </div>
            </div>
        </div>
        <hr>
        <table>
            <thead>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Name</td>
                    <td>Last Modified</td>
                    <td>Size</td>
                </tr>
            </thead>
            <tbody>
                {{#each files}}
                <tr><td>{{@index}}</td><td><span class="fiv-sqo fiv-icon-{{ext}}"></span></td><td><a href="{{name}}" title="{{name}}">{{name}}</a></td><td>{{mod}}</td><td>{{size}}</td></tr>
                {{/each}}
            </tbody>
        </table>
    </body>
</html>
