<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Index of {{path}}</title>
        <!---->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.7.5/semantic.min.css" integrity="sha256-S4n5rcKkPwT9YZGXPue8OorJ7GCPxBA5o/Z0ALWXyHs=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/file-icon-vectors@1.0.0/dist/file-icon-square-o.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.7.5/semantic.min.js" integrity="sha256-x9fzgXT3ttK2cZF12FIafkDJzEqqLnaWcchT+Y/plJ4=" crossorigin="anonymous"></script>
        <script src="https://semantic-ui.com/javascript/library/tablesort.js"></script>
        <!---->
        <style>
            body > div { margin: 1em; }
            table.table { font-family: 'Source Code Pro', 'Courier New', monospace; }
            table.table tr td { white-space: nowrap; padding: .2em .7em !important; }
            table.table tr td:nth-child(5) { text-align: right; }
            #dlbox { background-color: #dedede; border-radius: .25em; padding: 1em; }
            code { background-color: #ccc; border-radius: .2em; padding: .25em; }
        </style>
        <script>
            (function() {
                $(document).ready(function() {
                    $("table.sortable").tablesort();
                })
            })();
        </script>
    </head>
    <body>
        <div class="ui main menu">
            <div class="header item">Welcome, {{name}}</div>
            <div class="item">{{user}}</div>
            {{#if search_on}}
            <div class="item"><a href="{{base}}search"><i class="search icon"></i> Search</a></div>
            {{/if}}
            {{#if admin}}
            <div class="item"><a href="{{base}}admin">Admin Panel</a></div>
            {{/if}}
            <div class="right item">Powered by&nbsp;<a href="https://github.com/nektro/andesite" target="_blank">Andesite</a></div>
        </div>
        <div>
            <h1 class="ui header">Index of {{path}}</h1>
            <div class="ui divider"></div>
            <table class="ui sortable compact table">
                <thead>
                    <th class="collapsing no-sort"></th>
                    <th class="collapsing no-sort"></th>
                    <th class="collapsing">Name</th>
                    <th class="collapsing">Last Modified</th>
                    <th class="collapsing">Size</th>
                    <th class="no-sort"></th>
                </thead>
                <tbody>
                    <tr><td></td><td></td><td><a href="./">./</a></td><td></td><td></td><td></td></tr>
                    <tr><td></td><td></td><td><a href="../">../</a></td><td></td><td></td><td></td></tr>
                    {{#each files}}
                    <tr><td>{{@index}}</td><td><span class="fiv-sqo fiv-icon-{{ext}}"></span></td><td><a href="{{name}}">{{name}}</a></td><td>{{mod}}</td><td>{{size}}</td><td></td></tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div id="dlbox">
            <p>Download the contents of the entire folder using your passkey: <code>{{extras.user.PassKey}}</code></p>
            <p><code>wget -m -np -c -R "index.html*" --header "x-passkey: {{extras.user.PassKey}}" "{{host}}{{path}}"</code></p>
        </div>
    </body>
</html>
