<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{title}}</title>
        <link rel="stylesheet" href="{{base}}assets/theme-default/css/style.min.css">
        <script type="module" src="{{base}}assets/theme-default/js/x-switch.js"></script>
    </head>
    <body>
        <h1>{{title}}</h1>
        <p>{{message}}</p>
        <p>{{{link}}}</p>
        <x-switch data-mode="dark" class="hidden"></x-switch>
    </body>
</html>
